[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "~=2.2.8"
graphene-django = "*"
django-graphql-jwt = "*"
django-cors-headers = "*"
graphene-file-upload = "*"
django-jet = "*"
pillow = "*"
django-tinymce = "*"
gunicorn = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
